.nav {
  position: fixed;
  user-select: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.a_93597594673{
  display: flex;
  align-items: center;
  justify-content: center;
block-size:63.1406px;
border:0px none rgb(0, 0, 0);
border-block:0px none rgb(0, 0, 0);
border-block-color:rgb(0, 0, 0);
border-block-end:0px none rgb(0, 0, 0);
border-block-end-color:rgb(0, 0, 0);
border-block-start:0px none rgb(0, 0, 0);
border-block-start-color:rgb(0, 0, 0);
border-bottom:0px none rgb(0, 0, 0);
border-bottom-color:rgb(0, 0, 0);
border-color:rgb(0, 0, 0);
border-inline:0px none rgb(0, 0, 0);
border-inline-color:rgb(0, 0, 0);
border-inline-end:0px none rgb(0, 0, 0);
border-inline-end-color:rgb(0, 0, 0);
border-inline-start:0px none rgb(0, 0, 0);
border-inline-start-color:rgb(0, 0, 0);
border-left:0px none rgb(0, 0, 0);
border-left-color:rgb(0, 0, 0);
border-right:0px none rgb(0, 0, 0);
border-right-color:rgb(0, 0, 0);
border-top:0px none rgb(0, 0, 0);
border-top-color:rgb(0, 0, 0);
caret-color:rgb(0, 0, 0);
color:rgb(0, 0, 0);
column-rule:0px none rgb(0, 0, 0);
column-rule-color:rgb(0, 0, 0);
cursor:pointer;
font:20px / 26px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
height:63.1406px;
inline-size:185.047px;
line-height:26px;
margin:0px;
margin-inline:0px;
margin-inline-start:0px;
margin-left:0px;
outline:rgb(0, 0, 0) none 0px;
outline-color:rgb(0, 0, 0);
perspective-origin:92.5234px 31.5703px;
text-decoration:none solid rgb(0, 0, 0);
text-decoration-color:rgb(0, 0, 0);
text-emphasis:none rgb(0, 0, 0);
text-emphasis-color:rgb(0, 0, 0);
transform-origin:92.5234px 31.5703px;
user-select:text;
width:185.047px;
}

.div_86758063485{
align-items:center;
background:rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
background-position:0px 0px;
background-position-x:0px;
background-position-y:0px;
border:0px none rgba(0, 0, 0, 0.87);
border-block:0px none rgba(0, 0, 0, 0.87);
border-block-color:rgba(0, 0, 0, 0.87);
border-block-end:0px none rgba(0, 0, 0, 0.87);
border-block-end-color:rgba(0, 0, 0, 0.87);
border-block-start:0px none rgba(0, 0, 0, 0.87);
border-block-start-color:rgba(0, 0, 0, 0.87);
border-bottom:0px none rgba(0, 0, 0, 0.87);
border-bottom-color:rgba(0, 0, 0, 0.87);
border-color:rgba(0, 0, 0, 0.87);
border-inline:0px none rgba(0, 0, 0, 0.87);
border-inline-color:rgba(0, 0, 0, 0.87);
border-inline-end:0px none rgba(0, 0, 0, 0.87);
border-inline-end-color:rgba(0, 0, 0, 0.87);
border-inline-start:0px none rgba(0, 0, 0, 0.87);
border-inline-start-color:rgba(0, 0, 0, 0.87);
border-left:0px none rgba(0, 0, 0, 0.87);
border-left-color:rgba(0, 0, 0, 0.87);
border-right:0px none rgba(0, 0, 0, 0.87);
border-right-color:rgba(0, 0, 0, 0.87);
border-top:0px none rgba(0, 0, 0, 0.87);
border-top-color:rgba(0, 0, 0, 0.87);
bottom:0px;
caret-color:rgba(0, 0, 0, 0.87);
color:rgba(0, 0, 0, 0.87);
column-rule:0px none rgba(0, 0, 0, 0.87);
column-rule-color:rgba(0, 0, 0, 0.87);
display: flex;
flex:0 0 auto;
flex-shrink:0;
font:20px / 20px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
inline-size:571.328px;
inset:0px;
inset-block:0px;
inset-block-end:0px;
inset-block-start:0px;
inset-inline:0px;
inset-inline-end:0px;
inset-inline-start:0px;
left:0px;
line-height:20px;
margin:0px 0px 0px 246.055px;
margin-inline:246.055px 0px;
margin-inline-start:246.055px;
margin-left:246.055px;
max-inline-size:none;
max-width:none;
outline:rgba(0, 0, 0, 0.87) none 0px;
outline-color:rgba(0, 0, 0, 0.87);
padding:18.5714px 22.8571px;
padding-block:18.5714px;
padding-block-end:18.5714px;
padding-block-start:18.5714px;
padding-bottom:18.5714px;
padding-inline:22.8571px;
padding-inline-end:22.8571px;
padding-inline-start:22.8571px;
padding-left:22.8571px;
padding-right:22.8571px;
padding-top:18.5714px;
perspective-origin:285.664px 35px;
place-items:center normal;
position:relative;
right:0px;
text-decoration:none solid rgba(0, 0, 0, 0.87);
text-decoration-color:rgba(0, 0, 0, 0.87);
text-emphasis:none rgba(0, 0, 0, 0.87);
text-emphasis-color:rgba(0, 0, 0, 0.87);
top:0px;
transform-origin:285.664px 35px;
transition:background 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s;
transition-delay:0s, 0s, 0s;
transition-duration:0.1s, 0.1s, 0.1s;
transition-property:background, box-shadow, color;
transition-timing-function:ease, ease, ease;
user-select:none;
vertical-align:middle;
width:571.328px;
}

.a_69010943852{
block-size:63.1406px;
border:0px none rgb(0, 0, 0);
border-block:0px none rgb(0, 0, 0);
border-block-color:rgb(0, 0, 0);
border-block-end:0px none rgb(0, 0, 0);
border-block-end-color:rgb(0, 0, 0);
border-block-start:0px none rgb(0, 0, 0);
border-block-start-color:rgb(0, 0, 0);
border-bottom:0px none rgb(0, 0, 0);
border-bottom-color:rgb(0, 0, 0);
border-color:rgb(0, 0, 0);
border-inline:0px none rgb(0, 0, 0);
border-inline-color:rgb(0, 0, 0);
border-inline-end:0px none rgb(0, 0, 0);
border-inline-end-color:rgb(0, 0, 0);
border-inline-start:0px none rgb(0, 0, 0);
border-inline-start-color:rgb(0, 0, 0);
border-left:0px none rgb(0, 0, 0);
border-left-color:rgb(0, 0, 0);
border-right:0px none rgb(0, 0, 0);
border-right-color:rgb(0, 0, 0);
border-top:0px none rgb(0, 0, 0);
border-top-color:rgb(0, 0, 0);
caret-color:rgb(0, 0, 0);
color:rgb(0, 0, 0);
column-rule:0px none rgb(0, 0, 0);
column-rule-color:rgb(0, 0, 0);
cursor:pointer;
display:block;
font:20px / 26px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
height:63.1406px;
inline-size:85.5703px;
line-height:26px;
margin:0px;
margin-inline:0px;
margin-inline-start:0px;
margin-left:0px;
outline:rgb(0, 0, 0) none 0px;
outline-color:rgb(0, 0, 0);
perspective-origin:42.7812px 31.5703px;
text-decoration:none solid rgb(0, 0, 0);
text-decoration-color:rgb(0, 0, 0);
text-emphasis:none rgb(0, 0, 0);
text-emphasis-color:rgb(0, 0, 0);
transform-origin:42.7852px 31.5703px;
user-select:text;
width:85.5703px;
    display: flex;
    justify-content: center;
    align-items: center
}

.a_32885897673{
block-size:63.1406px;
border:0px none rgb(0, 0, 0);
border-block:0px none rgb(0, 0, 0);
border-block-color:rgb(0, 0, 0);
border-block-end:0px none rgb(0, 0, 0);
border-block-end-color:rgb(0, 0, 0);
border-block-start:0px none rgb(0, 0, 0);
border-block-start-color:rgb(0, 0, 0);
border-bottom:0px none rgb(0, 0, 0);
border-bottom-color:rgb(0, 0, 0);
border-color:rgb(0, 0, 0);
border-inline:0px none rgb(0, 0, 0);
border-inline-color:rgb(0, 0, 0);
border-inline-end:0px none rgb(0, 0, 0);
border-inline-end-color:rgb(0, 0, 0);
border-inline-start:0px none rgb(0, 0, 0);
border-inline-start-color:rgb(0, 0, 0);
border-left:0px none rgb(0, 0, 0);
border-left-color:rgb(0, 0, 0);
border-right:0px none rgb(0, 0, 0);
border-right-color:rgb(0, 0, 0);
border-top:0px none rgb(0, 0, 0);
border-top-color:rgb(0, 0, 0);
caret-color:rgb(0, 0, 0);
color:rgb(0, 0, 0);
column-rule:0px none rgb(0, 0, 0);
column-rule-color:rgb(0, 0, 0);
cursor:pointer;
display:block;
font:20px / 26px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
height:63.1406px;
inline-size:93.2031px;
line-height:26px;
margin:0px;
margin-inline:0px;
margin-inline-start:0px;
margin-left:0px;
outline:rgb(0, 0, 0) none 0px;
outline-color:rgb(0, 0, 0);
perspective-origin:46.6016px 31.5703px;
text-decoration:none solid rgb(0, 0, 0);
text-decoration-color:rgb(0, 0, 0);
text-emphasis:none rgb(0, 0, 0);
text-emphasis-color:rgb(0, 0, 0);
transform-origin:46.6016px 31.5703px;
user-select:text;
width:93.2031px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button_92013957928{
align-items:flex-start;
appearance:button;
background:rgb(108, 92, 231) none repeat scroll 0% 0% / auto padding-box border-box;
background-color:rgb(108, 92, 231);
background-position:0% 0%;
background-position-x:0%;
background-position-y:0%;
block-size:47px;
border:2px solid rgb(255, 255, 255);
border-block:2px solid rgb(255, 255, 255);
border-block-color:rgb(255, 255, 255);
border-block-end:2px solid rgb(255, 255, 255);
border-block-end-color:rgb(255, 255, 255);
border-block-end-style:solid;
border-block-end-width:2px;
border-block-start:2px solid rgb(255, 255, 255);
border-block-start-color:rgb(255, 255, 255);
border-block-start-style:solid;
border-block-start-width:2px;
border-block-style:solid;
border-block-width:2px;
border-bottom:2px solid rgb(255, 255, 255);
border-bottom-color:rgb(255, 255, 255);
border-bottom-left-radius:27px;
border-bottom-right-radius:27px;
border-bottom-style:solid;
border-bottom-width:2px;
border-color:rgb(255, 255, 255);
border-end-end-radius:27px;
border-end-start-radius:27px;
border-inline:2px solid rgb(255, 255, 255);
border-inline-color:rgb(255, 255, 255);
border-inline-end:2px solid rgb(255, 255, 255);
border-inline-end-color:rgb(255, 255, 255);
border-inline-end-style:solid;
border-inline-end-width:2px;
border-inline-start:2px solid rgb(255, 255, 255);
border-inline-start-color:rgb(255, 255, 255);
border-inline-start-style:solid;
border-inline-start-width:2px;
border-inline-style:solid;
border-inline-width:2px;
border-left:2px solid rgb(255, 255, 255);
border-left-color:rgb(255, 255, 255);
border-left-style:solid;
border-left-width:2px;
border-radius:27px;
border-right:2px solid rgb(255, 255, 255);
border-right-color:rgb(255, 255, 255);
border-right-style:solid;
border-right-width:2px;
border-start-end-radius:27px;
border-start-start-radius:27px;
border-style:solid;
border-top:2px solid rgb(255, 255, 255);
border-top-color:rgb(255, 255, 255);
border-top-left-radius:27px;
border-top-right-radius:27px;
border-top-style:solid;
border-top-width:2px;
border-width:2px;
bottom:auto;
caret-color:rgb(255, 255, 255);
color:rgb(255, 255, 255);
column-rule:0px none rgb(255, 255, 255);
column-rule-color:rgb(255, 255, 255);
cursor:pointer;
display:block;
flex:0 1 auto;
flex-shrink:1;
font:700 20px / 23px sans-serif;
font-family:sans-serif;
font-weight:700;
height:47px;
inline-size:151.805px;
inset:auto;
inset-block:auto;
inset-block-end:auto;
inset-block-start:auto;
inset-inline:auto;
inset-inline-end:auto;
inset-inline-start:auto;
left:auto;
line-height:23px;
margin:0px 0px 0px 10px;
margin-inline:10px 0px;
margin-inline-start:10px;
margin-left:10px;
outline:rgb(255, 255, 255) none 0px;
outline-color:rgb(255, 255, 255);
padding:10px 20px;
padding-block:10px;
padding-block-end:10px;
padding-block-start:10px;
padding-bottom:10px;
padding-inline:20px;
padding-inline-end:20px;
padding-inline-start:20px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
perspective-origin:75.8984px 23.5px;
place-items:flex-start normal;
position:static;
right:auto;
text-align:center;
text-decoration:none solid rgb(255, 255, 255);
text-decoration-color:rgb(255, 255, 255);
text-emphasis:none rgb(255, 255, 255);
text-emphasis-color:rgb(255, 255, 255);
top:auto;
transform-origin:75.9023px 23.5px;
transition:all 0.3s ease 0s;
transition-delay:0s;
transition-duration:0.3s;
transition-property:all;
transition-timing-function:ease;
vertical-align:baseline;
width:151.805px;
}



